@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}
.navbar {
  background: var(--primary);
}
.navbar-brand {
  margin-left: 5%;
  font-style: italic;
  color: white !important;
}
.navbar-collapse {
  margin-right: 5%;
}
.nav-link {
  color: white !important;
}
.nav-item {
  height: 40px;
}
.navbar-nav {
  gap: 10px;
}
.nav-item .nav-button {
  background: var(--primary) !important;
  color: white;
  border-width: 0px;
  padding: 5px 5px 5px 5px;
  width: 100%;
  border-radius: 3px;
}

.nav-item .nav-button:hover {
  background-color: var(--highlight) !important;
}
