.copyright-text
{
  margin:0;
  color:white;
  
}

.footer {
    display: flex;
    font-family: "Inter", sans-serif;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: var(--primary);
    bottom: 0;
    width: 100%;
    position: relative;

  
}